/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.mainPage {
    padding-top: 8vh;
    background-color: white;
    margin-left: -10vw;
    margin-right: -10vw;
    transition: margin-left 0.35s ease-in-out;
}

.mainPage.shifted {
    margin-left: 8vw; /* Shift the content when the menu opens (18vw is the width of the side menu) */
}

.s_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #9a0707;
    height: 7.5vh;
    z-index: 1000;
    padding: 4vh 0;
    transition: top 0.15s ease; /* Smooth transition for hiding and showing */
}

div.side-menu-content {
	font-family: 'Times New Roman', serif;
}


.sm_contents {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1vw;
    margin-top: -2.8vh;
    position: relative;
}

.m_text {
    font-family: 'Times New Roman', serif;
    color: white;
    font-size: 2.3rem;
}

.m_logout {
    font-family: 'Times New Roman', serif;
    color: white;
    font-size: 1vw;
    margin-left: 76vw;
}

.drawer-icon {
    font-size: 1.6vw;
    color: white;
    cursor: pointer;
    user-select: none;
    justify-content: center;
    display: flex;
    height: 5vh;
    width: 2.5vw;
    border: 2px solid white;
    border-radius: 12px;
    margin-right: 2vw;
    margin-left: 1vw;
}

.drawer-icon.open {
    background-color: #da9100;
    color: white;
}

.draw-ico {
    transition: transform 0.25s ease-in-out;
}

.draw-ico.rotate {
    transform: rotate(90deg);
}

.drawer-icon:hover {
    color: #9a0707;
    background-color: white;
}

/* Search Bar */
.search-container {
    padding: 2vh 1vw;
    margin-top: 2vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-wrapper {
    position: absolute;
    display: flex;
    justify-content: center
    width: 50%;
    display: none;
    border-radius: 20px;
    border: 2px solid #ae3838;
    background-color: #ae3838;
    cursor: pointer;
    user-select: none;
}

.search-bar-wrapper:hover {
    background-color: #9a0707;
}

input::placeholder {
    color: #ae3838;
}

.search-bar {
    width: 44vw;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    border-radius: 20px 0 0 20px;
    user-select: none
}

.fill {
    display: inline-block;
    width: 5vw;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    user-select: none;
}

.search-bar:focus {
    border-color: #9a0707;
    box-shadow: 0 2px 15px rgba(154, 7, 7, 0.5);
}

.search_button_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: -2.5vh;
    margin-bottom: -2.5vh;
}

.searchButton {  
    padding: 0.7rem 1rem; 
    background-color: #ae3838;
    color: white;
    font-size: 1.1rem;
    font-family: Arial, sans-serif;/
    text-align: center; 
    border-radius: 18px;
    cursor: pointer;
    border: none;
    width: 7.686vw;
    transition: width .8s ease;
    user-select: none
}

.searchButton:hover {
    background-color: #9a0707;
    transform: scale(1.05);
}

.searchButton.open {
    width: 100%;
}

#m-glass {
    position: absolute;
    right: 2vw;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: whitesmoke;
    
}

/* Side Menu (Drawer) */
.side-menu {
    position: fixed;
    top: 0;
    left: -18vw;
    width: 18vw;
    height: 120%;
    background-color: #da9100;
    color: white;
    z-index: 999;
    transition: left 0.35s ease-in-out;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.side-menu::-webkit-scrollbar {
    display: none;
}

.side-menu.open {
    left: 0;
}

.side-menu-content {
    padding: 20px;
    margin-top: 11vh;
}

.d_logo {
    position: relative;
    size: 25%;
    transition: top 0.25s ease-in-out;
    padding: 20px;
    margin-top: -3vh;
    user-select: none;
}

.side-menu-content h3 {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.side-menu-content h2 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.side-menu-content p {
    font-size: 1.2rem;
}

#s_logoc {
	height: 100%;
    margin-top: -4.5vh;
	width: 100%;
}

.side-menu-content table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px auto;
}

.content {
    transition: margin-left 0.35s ease-in-out; /* Smooth transition for the content */
}

.content table {
	width: 75%;
	border-collapse: collapse;
    transition: margin-left 0.35s ease-in-out;
	margin: 20px auto;
}

.content th {
	padding: 10px;
	border: 2px solid #ae3838;
}

.content td {
	padding: 10px;
	border: 2px solid #ae3838;
}

.side-menu-content th, td {
	padding: 10px;
	border: 1px solid white;
}

th {
	text-align: center;

}

td {
	text-align: left;
}

td#tEnd {
    text-align: center;
}

tr#t_Data td {
	text-align: center;
}

/* Button Area */

button {
    width: 100%;
    height: 100%;
}

.t_button {
    margin-right: -2vw;
    display: inline-block;
    padding: 12px 24px;
    background-color: #4CAF50; 
    color: white; 
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.t_button:hover {
    background-color: #45a049; /* Darker green on hover */
    transform: scale(1.05);
}

.t_button.not_available {
    margin-right: -2vw;
    display: inline-block;
    padding: 12px 24px;
    background-color: #F44336; 
    color: white; 
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
